html, body{
  height:100%;
  margin:0;
}

header, h1, h2, h3, h4 {
  font-family: "Bodoni Std", serif;
}

.full-height {
  position: relative;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
   

  .entry-title {
    font-weight: bold;
    width: 30%;
    padding-left: 2rem;
    padding-bottom: 0;
    position: absolute;
    bottom: 2rem;
    color: white;
    line-height:1;


    @include breakpoint(large) {
      font-size: 4rem;
    }
    @include breakpoint(small) {
      font-size: 2.75rem;
      bottom:1rem;
    }
  }
}

.full-height.repeater{
  height:250px;


  @include breakpoint(medium){
    height:100%;
  }
}

.home .contentWrapper{
  padding-top:0;
}

.contentWrapper{
  padding-top:1rem;

  p{
    padding:0 2rem;
  }

  h2{
    padding:1rem 0 1rem 2rem;
    font-weight:bold;
  }
}

.padder{
  @include breakpoint(medium){
    padding-left:1rem;
    padding-right:1rem;
  }
}

ul{
  margin-left:0;
}

.main-grid{
  margin-top:55px;


  @include breakpoint(medium){
    margin-top:80px;
  }
}

.wp-post-image{

  margin-top:-20px;

  @include breakpoint(medium){
    margin-top:0;
  }
}
//===================  NAV  ===================//
.home .top-bar, .top-bar ul, .home .title-bar {
  background: rgb(255,255,255);
  background: rgba(255,255,255,0);
  border-bottom: solid 1px rgba(100,100,100,0);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.top-bar-right > ul{
 padding-right:1rem;
}

.top-bar .menu li a {
  font-size: 2.3rem;
  font-weight:800;

  .fa-instagram{
    font-size:1.6rem;
  }
}

.top-bar .vertical.menu li a .fa-instagram{
  font-size:2.4rem;
}

.home .top-bar .menu li a{
  color:$black;
}

.home .top-bar.scrolled .menu li a, .top-bar .menu li a {
  color: gray;
}



.top-bar .menu a:hover, .dropdown.menu > li > a {
  border: none !important;
  background: rgb(255,255,255) !important;
  background: rgba(255,255,255,0) !important;
  padding: 2.25rem 1rem 0 0;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.top-bar .menu li a:hover, .home .top-bar .menu li a:hover {
  color: $black;
}

.top-bar-title {
  margin: 1.5rem 1rem 0 0;
}


//after scroll
.top-bar,  .title-bar, .home .top-bar.scrolled, .home .title-bar.scrolled {
  background: rgba(255,255,255,1);
  border-bottom: solid 1px rgba(200,200,200,1);
}

.top-bar .menu li:not(:last-child){
  border:none;
}

.top-bar .top-bar-title a, .top-bar .menu a, .dropdown.menu > li.is-active > a {
  color: $black;
}

.top-bar .menu a{
  font-weight:normal;
}

.dropdown.menu > li.is-active > a {
  font-weight: 800;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:100;

  ul{
    float:right;
  }
}

//Mobile Menu

$headerHeight : 60px;

.title-bar {
  z-index: 100000;
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHeight;
  padding: 0.5rem .5rem 1rem .5rem;
  button {
    float: right;
    margin: 60px 0 0;
  }
}

.top-bar-left {
  z-index: 100000;
}

.top-bar-right {
  width: 100%;

  nav ul {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    z-index: 50;
    padding-top: 50%;
    width: 100%;
    display: block;
    height: 100%;
    position: fixed;
    text-align:center;
    background: rgba(255,255,255,0.9);

    li {
      display: inline;
      vertical-align: middle;
      line-height: 2rem;
    }

    &.vertical li a{
      font-size:3rem;
    }
  }
}


.title-bar-title{
  padding:2rem 0 0.75rem 1rem;
  a{
    color: $black;
  }
}

.title-bar .menu-icon{
  width:26px;
  margin-right:0.5rem;
}

.top-bar .menu a:hover:not(.button){
  border:none;
}
.menu .is-active > a{
  background:rgba(255,255,255,0);
}


//===================  MAIN CONTAINER  ===================//
.main-container{
  margin-top:$headerHeight;
}

.entry-content{
  padding-top:1rem;
}

h2.repeater{
  line-height:1;
  font-size:2rem;
  padding-bottom:0.5rem;

  @include breakpoint(medium){
    font-size:2.5rem;
  }
}

//===================  Floating Images  ===================//

.parollerContainer {
  position: relative;
  display:none;

  @include breakpoint(medium) {
    display:block;
  }
}

.paroller{
  border:solid $white 15px;
  position:absolute;
  right:2rem;
  top:0;
  max-width:500px;
  max-height:500px;
}


//=================== CONTACT PAGE ===================//

.page-template-page-contact{
  p{
    line-height:1.4;
  }

  .entry-content{
    @include breakpoint(medium){
      padding-top:0;
      margin-top:-8px;
    }
  }
}


//=================== WORK PAGE ===================//

.galleryCell img{
  margin-bottom:1rem;
  @include breakpoint(medium){
    margin-bottom: 2rem;
  }
}


//=================== FOOTER ===================//

.footer-grid{
  padding: 0.5rem 0;
}

.footer-container{
  padding-left:2rem;
  max-width:100%;
}
